@import "../bootstrap-5.1.1-dist/css/bootstrap.min.css";

body {
    font-size: 100%;
    font-family: "Comic Sans MS", serif;
    background-color: purple;
}

#mainNavBar {
    /*padding: 0;*/
}

#navMenuItems div {
    text-align: center;
    padding: 0;
}

#navMenuItems > div {
    padding-top: 1rem;
    margin-bottom: -1rem;
}

#navMenuItems button {
    width: 100%;
    margin: 0;
}

/* Medium and large devices */
@media (min-width: 576px) {
    #navMenuItems > div {
        display: none;
    }
}